 @import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");
 @import url("component/container.css");
 @import url("component/avatar.css");
 @import url("component/button.css");
 @import url("component/banner.css");
 @import url("component/card.css");
 @import url("component/cards.css");
 body {
 	font-family: 'Lato', serif; 
 	font-size:18px;
 	margin: 0px;

 }

 h1,h2,h3{
 	font-family: 'Roboto', serif; 
 	font-weight: :18px;
 }

 a{
 	text-decoration: none;
 }